*{
    user-select: none;
}

#loopArea{
    /* animation-duration: 2s */
    /* position: relative; */
    font-size: 25px;
    /* transform : translateY(0); */
    /* animation: runMarq linear 2s forwards */
}
#coElem{
    position:absolute;
    /* height: 100vh; */
}
img{
    height: 70vh;
    border-radius: 5%;
}
body{
    display: flex;
    align-items: center;
    margin: 0;
    overflow:  hidden;
}

#funcBar{
    margin: 5px;
    padding:1px;
    /* border:1px black;  */
    transform: translateY(83vh);
}

button{
    font-size: 2vw;
    margin: .5vw;
}

#fileInput{
    font-size: 2vw;
}

@keyframes runMarq {
    0%{
        transform: translateX(100svw);
    }
    50%{
        transform: rotate(-20deg);
    }
    100%{
        transform: translateX(-100%);
    }
    
}