*{
    user-select: none;
}

#loopArea{
    /* animation-duration: 2s */
    /* position: relative; */
    font-size: 25px;
    /* transform : translateY(0); */
    /* animation: runMarq linear 2s forwards */
}
#coElem{
    position:absolute;
    /* height: 100vh; */
}
img{
    top: .5vh;
    height:50vh;
    border-radius: 5%;
    animation: .5s rocate infinite ;
}
body{
    display: flex;
    align-items: center;
    margin: 0;
    overflow:  hidden;
}

#funcBar{
    margin: 5px;
    padding:1px;
    /* border:1px black;  */
    transform: translateY(83vh);
}

button{
    font-size: 2vw;
    margin: .5vw;
}

input{
    font-size: 2vw;
    margin: 5px;
}

@keyframes runMarq {
    0%{
        transform: translateX(100svw);
    }
    100%{
        transform: translateX(-100%);
    }
    
}

@keyframes rocate {
    0%{transform: rotate(3deg);}
    50%{transform: rotate(-10deg);}
    100%{transform: rotate(3deg);}
    
}